.content-container{

}

.topnav {
    overflow: hidden;
    background-color: #333;
    margin-bottom: 20px;
}
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
}

  table tr th  {
      background-color: black;
      color: white;
      padding: 5px;
}

table tr td {
  padding: 5px;
}

  table tr:nth-child(even){background-color: #ddd;}

  table tr:hover {
      background-color: mediumaquamarine;
      cursor: pointer;
}

.succes-modal {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  width: 300px;
  height: 250px;
  color: #fff;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 5px;
  background-color: greenyellow;
  color: black;
  width: 120px;
  margin-top: 20px;
  text-decoration: none;
}

.button-td {
  background-color: #04AA6D;
}

.reead-btn {
  color: #fff;
  background-color: green;
}

.delete-btn {
  color: #fff;
  background-color: red;
}

.update-btn {
  color: #fff;
  background-color: yellow;
}
